# CLion
.idea/
cmake-build-debug
CMakeLists.txt
servicemanager/servicemanager
cmds/service
test/binderAddInts
*.mod.c
*.mod
*.cmd
*.order
*.symvers
.cache.mk
deps.h


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

.DS_Store
.vscode/
